@layers reset, theme, navigation, template;

@layer theme {
  :root {
    font-family: system-ui;
    color-scheme: light;
    --accent-color: light-dark(slategray, orange);
    --outline-size: 1px;
  }
}

@layer navigation {
  /* Hide sections that are not the target, except the first section if there are no target */
  [slot="main"]:not(:target, :has(:target), [slot="main"]:first-of-type),
  :root:has(:target) [slot="main"]:not(:target, :has(:target)) {
    display: none;
  }

  /* Give a style to the matching nav element to indicate where we are */
  [slot="main"]:is(:target, :has(:target)) + :link,
  :root:not(:has(:target)) [slot="nav"]:first-of-type {
    font-weight: bold;
  }

  /* Default nav style */
  [slot="nav"] {
    text-decoration: none;
    color: currentColor;
    padding: 1rem;

    &:hover {
      text-decoration: underline;
    }
    &:focus-within:not(:active) {
      color: SelectedItem;
      outline: solid var(--outline-size) SelectedItem;
    }
  }

  [slot="main"] {
    scroll-margin-block-start: 2.6lh;
  }
}

@layer reset {
  body {
    margin: 0;
  }
}

dl {
  padding-inline-start: 1ch;
}
dt {
  font-weight: bold;
  font-family: monospace;
}
dd {
  font: var(--font, inherit);
  font-family: var(--font-family, inherit);

  padding-block: 1ch;
  display: flex;
  align-content: center;
  gap: 0.5ch;
  #system-color &:before {
    content: "";
    display: inline-block;
    height: 1lh;
    background: var(--color);
    aspect-ratio: 1;
    outline: solid 1px;
  }
}


@layer template{
    :host {
        height: 100vh;
        display: grid;
        grid-template-rows: max-content 1fr;
  
        & nav {
          top: 0;
          position: sticky;
          display: flex;
          flex-wrap: wrap;
          gap: 1ch;
          justify-content: center;
          border-bottom: solid var(--outline-size) var(--accent-color);
          background: Canvas;
          color: CanvasText;
        }
      }
}

